{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="moxheader"><a href="{% url 'hive:dashboard' %}"><img class="moximage" src="{% static 'hive/openmoxie_logo.svg' %}"></a>OpenMoxie<span class="moxversion">{{moxie_version}}</span></div>
<div class="p-3">
<h2>Importar contenido de Moxie</h2>
<p>
Selecciona un archivo JSON de contenido para importarlo, revísalo y acepta las piezas que quieras agregar a tu
base de datos. Los bloques de código dentro del contenido pueden ser maliciosos, así que revísalos antes de aprobar la importación.
</p>
<p>
Las insignias junto a cada pieza de contenido explican qué cambiará si seleccionas ese elemento para importarlo.
<ul>
    <li><span class="badge text-bg-danger">Reemplazar vX</span> : El contenido actual tiene la versión X y será reemplazado por la versión indicada.</li>
    <li><span class="badge text-bg-success">Actualizar desde vX</span> : El contenido actual tiene la versión X y se actualizará a la versión indicada.</li>
    <li><span class="badge text-bg-success">Nuevo</span> : Es contenido nuevo que se añadirá a tu base de datos.</li>
</ul>
</p>
</div>
<div class="p-3">
<h2>Selección de contenido</h2>
<form id="import_form" action="{% url 'hive:import_data' %}" method="post">
    {% csrf_token %}
    <textarea name="json_data" style="display:none;">{{json_data_str}}</textarea>
    <table class="table">
        <tr><th>Nombre del contenido</th><td>{{json_data.name}}</td></tr>
        <tr><th>Detalles</th><td>{{json_data.details}}</td></tr>
        <tr><th>Respuestas globales</th><td>
            {% for g in json_data.globals %}
            <input type="checkbox" name="globals" value="{{ forloop.counter0 }}" id="global_{{ forloop.counter0 }}">
            <label for="global_{{ forloop.counter0 }}">{{g.name}} (v{{g.source_version}})
            <span class="badge {% if g.meta_state.0 == 'R' %}text-bg-danger{% else %}text-bg-success{% endif %}">{{g.meta_state}}</span>
            </label>
            <br>
            {% endfor %}
         </td></tr>
         <tr><th>Horarios</th><td>
            {% for s in json_data.schedules %}
            <input type="checkbox" name="schedules" value="{{ forloop.counter0 }}" id="schedule_{{ forloop.counter0 }}">
            <label for="schedule_{{ forloop.counter0 }}">{{s.name}} (v{{s.source_version}})
            <span class="badge {% if s.meta_state.0 == 'R' %}text-bg-danger{% else %}text-bg-success{% endif %}">{{s.meta_state}}</span>
            </label>
            <br>
            {% endfor %}
         </td></tr>
         <tr><th>Conversaciones</th><td>
            {% for s in json_data.conversations %}
            <input type="checkbox" name="conversations" value="{{ forloop.counter0 }}" id="convo_{{ forloop.counter0 }}">
            <label for="convo_{{ forloop.counter0 }}">{{s.name}} (v{{s.source_version}})
            <span class="badge {% if s.meta_state.0 == 'R' %}text-bg-danger{% else %}text-bg-success{% endif %}">{{s.meta_state}}</span>
            </label>
            <br>
            {% endfor %}
         </td></tr>
      </table>
    <button type="submit" class="btn btn-primary">Importar</button>
</form>
<br>
<h2>Detalles</h2>
<script defer src="https://unpkg.com/pretty-json-custom-element/index.js"></script>
<pretty-json expand="0" unsafe="true" truncate-string="3000">{{json_data_str}}</pretty-json>
</div>    
{% endblock %}