{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="moxheader"><a href="{% url 'hive:dashboard' %}"><img class="moximage" src="{% static 'hive/openmoxie_logo.svg' %}"></a>OpenMoxie<span class="moxversion">{{moxie_version}}</span></div>
<div class="p-3">
<h2>Control remoto de Moxie</h2>
<p>
  Cuando el modo marioneta está activo, Moxie se despertará automáticamente y solo mostrará las respuestas enviadas desde esta página.
  Permanecerá en este modo hasta que lo detengas.
</p>
<button id="puppet_button" type="button" class="btn btn-success">Iniciar modo marioneta</button>
<table class="table">
  <tr><th>Nombre</th><td>{{object.name}}</td></tr>
  <tr><th>ID del dispositivo</th><td>{{object.device_id}}</td></tr>
  <tr><th>Estado de Moxie</th><td><span class="badge text-bg-success" id="moxie_state">En línea</span></td></tr>
  <tr><th>Estado de marioneta</th><td><span class="badge text-bg-success" id="puppet_state">LISTO</span></td></tr>
</table>
<h3 class="chat-title">Historial</h3>
<div id="chat_window" class="chat-window">
  <ul id="chat_history" class="list-group">
    <!-- Populated by AJAX -->
  </ul>
</div>
<div id="chat_input" class="chat-window">
  <form id="chat_form">
    <div class="mb-3">
      Estado de ánimo <select id="mood" name="mood">
        <option value="neutral">Neutral</option>
        <option value="happy">Feliz</option>
        <option value="positive">Positivo</option>
        <option value="angry">Enojado</option>
        <option value="sad">Triste</option>
        <option value="negative">Negativo</option>
        <option value="shy">Tímido</option>
        <option value="afraid">Asustado</option>
        <option value="concerned">Preocupado</option>
        <option value="confused">Confundido</option>
        <option value="curious">Curioso</option>
        <option value="embarrassed">Avergonzado</option>
      </select>
      Intensidad<input type="range" min="0.0" max="1.0" step="0.1" id="intensity" name="intensity" value="0.5"></td>
    </div>
    <div class="mb-3">
      <input id="user_input" name="user_input" class="form-control" placeholder="Di algo..."></input>
    </div>
    <div class="mb-3">
      <button title="Detener el discurso actual de Moxie" id="interrupt_button" type="button" class="btn btn-secondary">Interrumpir</button>
    </div>
  </form>
</div>
</div>
<script>
  function add_to_history(cname, badge, prefix, text) {
    $("#chat_history").append("<li class='" + cname + "'><span class='badge rounded-pill " + badge + "'>" + prefix + "</span>&nbsp;" + text + "</li>");
    $('#chat_window').scrollTop($('#chat_window')[0].scrollHeight);
  }

  function set_puppet_state(val) {
    $.ajax({
        type: 'POST',
        url: "{% url 'hive:puppet_api' object.pk %}", 
        data: {'command': val ? "enable" : "disable" },
        dataType: 'json'
    }).always(function() {
      window.setTimeout("refresh_view()", 1);
    });
  }

  function puppet_speak(speech, mood, intensity) {
    $.ajax({
        type: 'POST',
        url: "{% url 'hive:puppet_api' object.pk %}", 
        data: {
          'command': "speak",
          'speech': speech,
          'mood': mood,
          'intensity': intensity
        },
        dataType: 'json'
      })
      .done(function(data, textStatus, jqXHR) {
        add_to_history('list-group-item list-group-item-primary chat-line', 'bg-primary', 'Moxie (' + mood + ')', speech)
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        console.log("Fallo al enviar el discurso: " + errorThrown);
      })
      .always(function() {
        $('#user_input').val('');
      });
  }

  function puppet_interrupt() {
    console.log("Interrumpiendo a Moxie");
    $.ajax({
        type: 'POST',
        url: "{% url 'hive:puppet_api' object.pk %}", 
        data: { 'command': "interrupt" },
        dataType: 'json'
      })
      .done(function(data, textStatus, jqXHR) {
        add_to_history('list-group-item list-group-item-primary chat-line', 'bg-primary', 'Sistema', '--Interrupción--')
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        console.log("Fallo al interrumpir: " + errorThrown);
      })
  }

  function refresh_view() {
    $.ajax({
        type: 'GET',
        url: "{% url 'hive:puppet_api' object.pk %}",
        dataType: "json"
    }).done(function(data, textStatus, jqXHR) {
        console.log(data);
        if (data["online"]) {
          $("#moxie_state")
            .removeClass("text-bg-danger")
            .addClass("text-bg-success")
            .text("En línea");
        } else {
          $("#moxie_state")
            .removeClass("text-bg-success")
            .addClass("text-bg-danger")
            .text("Fuera de línea");
        }

        if (data["puppet_state"] != null) {
          $("#puppet_state")
            .removeClass("text-bg-warning")
            .addClass("text-bg-success")
            .text(data["puppet_state"]);
        } else {
          $("#puppet_state")
            .removeClass("text-bg-success")
            .addClass("text-bg-warning")
            .text("PENDIENTE");
        }

        if (data["puppet_enabled"]) {
          $("#puppet_button")
            .removeClass("btn-success")
            .addClass("btn-danger")
            .text("Detener modo marioneta")
            .off("click").on("click", function() { set_puppet_state(false); });
        } else {
          $("#puppet_button")
            .removeClass("btn-danger")
            .addClass("btn-success")
            .text("Iniciar modo marioneta")
            .off("click").on("click", function() { set_puppet_state(true); });
        }
    }).always(function() {
      window.setTimeout("refresh_view()", 2000);
    });
  }

  $(document).ready(function() {
    $('#chat_form').submit(function(e) {
      e.preventDefault(); // Evita enviar el formulario
      puppet_speak($('#user_input').val(), $('#mood').val(), $('#intensity').val());
      });

    $("#interrupt_button").on("click", function() { puppet_interrupt(); });

    refresh_view();
  });

</script>
{% endblock %}